* {
  box-sizing: border-box;
}

.image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 25%;
  opacity: 0.5;
  margin-left: 750px;
}

.paragraph {
  overflow: scroll;
}

.Parallax {
  display: flex;
  justify-content: center;

  &__background,
  &__background-triangles {
    width: 1080px;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  &__background {
    background-image: url("../../static/assets/images/background.png");
  }

  &__background-triangles {
    background-image: url("../../static/assets/images/background-triangles.png");
  }

  &__content {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 100px;

    &__heading,
    &__cta {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__heading {
      background-color: #fff;
      width: 40%;
      padding: 40px;

      &__text {
        margin: 10px 0;
        font-size: 60px;
        background-color: black;
        color: white;
      }

      &__caption {
        margin: 0;
        font-size: 20px;
      }
    }

    &__cta {
      background-color: rgb(219, 188, 189);
      width: 60%;
      padding: 40px;

      font-size: 20px;
      color: #ffffff;
      text-align: center;
      // text-transform: uppercase;
      letter-spacing: 3px;

      margin-top: 120px;
    }
  }
}
